.information {
    display:flex;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.infoHeader{
    max-width: 50vw;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    word-break: break-word;
}

.stack{
    padding-right: 5vw; 
    padding-left: 5vw; 
}

.infoButton{
color:var(--grey) !important;
border: 1px solid var(--grey) !important;
border-radius:25px !important;
cursor:pointer;

}